html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

html {background-color: #eee; font-family: georgia, sans-serif; font-size: 14px; line-height: 1.4;}
.container {margin: 20px; margin-bottom: 0; padding: 20px; background-color: #fff;}
.container {max-width: 500px; margin-right: 330px;}
.sideburn img {max-width: 100%; height: auto;}

hr {border: none; height: 0; border-top: 1px solid #ccc; margin: 1em 0;}



p.footer {padding: 20px 30px;}

/* ---- */

/* TODO: move to javascript */
ul.sideburn {list-style-type: none; margin: 0; padding: 0;}
ul.sideburn li {margin: 0; padding: 0; display: block;}
ul.sideburn img {display: block;}

/*.sideburn-wrap {margin: 20px 0;}*/
.sideburn-nav {font-size: 12px;}
.sideburn-nav .previous,
.sideburn-nav .next,
.sideburn-nav .all,
.sideburn-nav .one,
.sideburn-nav .jump,
.sideburn-nav .thumbnails img {cursor: pointer;}
.sideburn-nav-above {padding-bottom: 10px}
.sideburn-nav-below {padding-top: 10px}
.sideburn-nav-next {text-align: right;}
.sideburn-nav-jump {text-align: center; font-size: 14px;}
.sideburn-nav .previous,
.sideburn-nav .next,
.sideburn-nav .all,
.sideburn-nav .one {text-decoration: underline;}
.sideburn-nav .jump {color: #999;}
.sideburn-nav .selected {color: #000; font-weight: bold;}
.sideburn-nav .all {display: inline;}
.sideburn-nav .one {display: none;}
.sideburn-nav-all .all {display: none;}
.sideburn-nav-all .one {display: inline;}
.sideburn-loader {background-color: #eee; display: none; text-align: center; color: #000;}
.sideburn-loading .sideburn-loader {display: block;}

.sideburn-nav ul.thumbnails {list-style-type: none; margin: 0; padding: 0; text-align: center;}
.sideburn-nav ul.thumbnails li {display: inline-block; margin: 0 5px; padding: 0; opacity: 0.3;}
.sideburn-nav ul.thumbnails img {display: block; width: auto; height: 40px;}
.sideburn-nav ul.thumbnails li.selected {opacity: 1;}




#sideburnsettings {font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 18px;}
#sideburnsettings {position: absolute; top: 20px; right: 20px; padding: 20px;width: 250px; background-color: #fff; color: #333;}
#sideburnsettings {border-radius: 3px; box-shadow: 0px 3px 5px 0px #666;}
.textfield input[type=text] {float: right; width: 100px;}
.optionsfield .options {float: right;}
.optionsfield input[type=radio] {vertical-align: middle;}
.selectfield select {float: right;}
.field + .field,
.field + .group {margin-top: 10px;}

#shufflefield {display: none;} /* still unimplemented */
#nextgroup, #jumpgroup, #allgroup, #intervalfield, #totalseparatorfield {display: none;}
.withnext #nextgroup,
.withjump #jumpgroup,
.withall #allgroup,
.withinterval #intervalfield,
.withtotalseparator #totalseparatorfield {display: block;}

.sliderwrap {float: right; width: 180px; text-align: right;}
.slider {float: left; width: 125px; height: 4px; background-color: #777; position: relative; margin: 0 5px;}
.slider {border-top: 7px solid #fff; border-bottom: 7px solid #fff; vertical-align: top;}
.ui-slider-handle {width: 12px; height: 12px; background-color: #777; position: absolute; top: -4px; margin-left: -6px; border-radius: 3px;}
.ui-slider-handle {box-shadow: 1px 1px 1px #333;}
.ui-slider-handle:focus {outline: 0; background-color: #aaa;}

.valuewrap {display: inline-block;}



@media (max-width: 640px) {
    #sideburnsettings {position: static; margin: 20px;}
}
